@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

body {
	margin: 0;
	padding: 0;
	background: #222;
	color: #333;
}

p.loud {
	line-height: 1em;
	margin: 0 0 1em 0; /* 0 0 24px 0 */
}

a {
	color: #333;
}
a:hover {
	text-decoration: none;
}
.description {
	color: #777;
	font-style: italic;
	font-size: 1.25em;
}
.pre_header {
	/* font-family: "Whitney", "Segoe UI Bold", Tahoma, Arial, sans-serif; */
	font-size: 1.5em;
	font-weight: bold;
}
.pre_header.big { font-size: 2em; }

#home .pre_header { color: #388383; }
#home .pre_header.big { color: #83b5b5; }

/* Left Navigation
**************************/
#nav_mobile {
	
}
#nav_ribbon {
	background: url(/bg_nav.png) repeat 1px 0px, #fff;
	box-shadow: 0 1px 20px rgba(0,0,0,0.1);
	width: 260px;
}
nav ul {
	margin: 0 0.75em; /* 12px */
	padding: 0;
}
nav a {
	display: block;
	padding-left: 15px;
	padding-top: 23px;
	height: 84px;
	text-decoration: none;
}
nav li:not(:first-child), #nav_down { background: url(/nav_li_shadow.png) no-repeat top center; }
#nav_down {
	height: 39px;
	width: 260px;
	position: absolute;
	bottom: -39px;
	right: 0;
	background: url(/bg_nav_down.png) no-repeat top center;
}

#nav_home.active .nav-title {		color: #006666; }
#nav_portfolio.active .nav-title {	color: #002266; }
#nav_relics.active .nav-title {		color: #096600; }
#nav_aboutme.active .nav-title {	color: #8c1d07; }
#nav_contact.active .nav-title {	color: #660066; }

#pc_logo {
	height: 120px;
	width: 120px;
	background-image: url(/pc_logo_p_home.png), url(/pc_logo_c.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #333;
	margin: 0 auto;
}

li .bar_faded {
	width: 4px;
	height: 96px;
	position: absolute;
	left: 0px;
	top: 255px;
	background: none;
	z-index: 998;
}
li:hover .bar_faded { background: rgba(0,0,0,0.04); }

.bar {
	width: 4px;
	height: 0px;
	position: absolute;
	left: 0px;
	transition: .2s all ease-in-out;
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	z-index: 999;
}
.active .bar {
	height: 96px;
}

#nav_home .bar {				top: 195px; background: #006666; }
#nav_home.active .bar,
#nav_home .bar_faded {			top: 147px; }

#nav_portfolio .bar {			top: 303px; background: #002266; }
#nav_portfolio.active .bar,
#nav_portfolio .bar_faded {		top: 255px; }

#nav_relics .bar {				top: 411px; background: #096600; }
#nav_relics.active .bar,
#nav_relics .bar_faded {		top: 363px; }

#nav_aboutme .bar {				top: 519px; background: #8c1d07; }
#nav_aboutme.active .bar,
#nav_aboutme .bar_faded {		top: 471px; }

#nav_contact .bar {				top: 627px; background: #660066; }
#nav_contact.active .bar,
#nav_contact .bar_faded {		top: 579px; }

/* Home links
***************************/
.btn-link {
	background: url(/bg_social.png) repeat, #fafafa;
	
	box-shadow: 0 2px 2px rgba(0, 0, 0, .16) inset;
    
    cursor: pointer;
    outline: 2px solid rgba(255, 255, 255, 0.4);

	transition: .3s all;

	&:hover {
		box-shadow: 0 1px 5px rgba(0, 0, 0, .16) inset;
		outline-width: 3px;
	}
    
}

/* Sections
***************************/
.content_section {
	width: 100%;
	mask: conic-gradient(from -60deg at bottom,#0000,#000 1deg 119deg,#0000 120deg) 50%/34.64px 100%;
	margin-top: -30px;
	position: relative;
}
.content {
	padding-left: 33%;
	
}

#home {			background: url(/bg_noise.png) repeat, linear-gradient(180deg,rgba(249, 249, 249, 1) 0%,  rgba(213, 232, 242, 1) 100%); z-index: 5; }  
#skills {	background: url(/bg_noise.png) repeat, linear-gradient(180deg,rgba(249, 249, 249, 1) 0%, rgba(224, 242, 213, 1) 100%); z-index:4; } 
#experience {		background: url(/bg_noise.png) repeat, linear-gradient(180deg,rgba(249, 249, 249, 1) 0%, rgba(245, 225, 233, 1) 100%); z-index: 3; }
#certifications { 		background: url(/bg_noise.png) repeat, linear-gradient(180deg,rgba(249, 249, 249, 1) 0%, rgba(245, 239, 225, 1) 100%); z-index: 2; }   
#projects {		background: url(/bg_noise.png) repeat, linear-gradient(180deg,rgba(249, 249, 249, 1) 0%, rgba(213, 232, 242, 1) 100%); z-index: 1;  }
#interests { background: url(/bg_noise.png) repeat, linear-gradient(180deg,rgba(249, 249, 249, 1) 0%, rgba(245, 225, 233, 1) 100%); z-index: 0;   }

/* Home
**************************************/
#mug {
	
	background: url(/bg_nav.png) repeat, #fff;

	@media (max-width: 1023px) {
		margin-left: auto;
		margin-right: auto;
	}
	
}

.btn-link {
	@apply max-sm:w-3/4 max-sm:mb-2 max-sm:justify-center max-sm:mx-0 text-lg xl:text-2xl font-bold py-3 px-8 xl:px-10 pl-4 xl:pl-6 mr-2 xl:mr-5 ml-0 rounded-full flex items-center;
}

.skills-col {
	@apply flex flex-col items-start w-full sm:w-27/100 lg:w-1/4 mx-3 sm:ml-0 sm:mr-6 mb-8;

	.skills-grid { 

		@apply w-full mt-4 font-bold text-sm tracking-tight grid grid-cols-1 gap-2 w-1/4 mr-1;
		
	
		.skills-badge {
			@apply bg-gray-500/5 rounded-full flex flex-row items-center justify-start text-xs p-1.5 md:p-2 shadow-sm;
			background: url(/bg_nav.png) repeat;
		
			.skills-icon-wrapper {  
		
				svg {
					width: 20px; 
					height: 20px;
					@apply mx-2;
				}
			}
			
		}
	}
}

/* Certifications
********************/
.certification-card {
	background: url(/bg_nav.png) repeat, #fff;

	@apply flex flex-row shadow-sm rounded-xl;

}

/* Interests
*************************************************/
.interest {
	height: 70px;
	margin-top: 5px;
	padding-top: 25px;
	margin-left: -25px;
	padding-left: 105px;
	position: relative;
}
.interest .pic { position: absolute; }
#interest_concerts .pic {
	background: url(/interest_concerts.png) no-repeat top left;
	width: 85px; height: 85px; left: 20px; top: 0px;
}
#interest_running .pic {
	background: url(/interest_running.png) no-repeat top left;
	width: 85px; height: 75px; left: 22px; top: 15px; }
#interest_vinyl .pic {
	background: url(/interest_vinyl.png) no-repeat top left;
	width: 85px; height: 85px; left: 22px; top: 15px;
}
#interest_ultimate .pic {
	background: url(/interest_ultimate.png) no-repeat top left;
	width: 105px; height: 85px; left: 0px; top: 15px;
}
#interest_webdesign .pic {
	background: url(/interest_webdesign.png) no-repeat top left;
	width: 105px; height: 85px; left: 2px; top: 10px;
}
#interest_books .pic {
	background: url(/interest_books.png) no-repeat top left;
	width: 85px; height: 75px; left: 12px; top: 15px;
}

/* Footer
*******************************************************/
footer {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1000;
	margin: -9em auto -3em auto;
	border-top: 4px solid #eee;
	height: 60px;
}

#footer_content {
	position: relative;
}

footer ul {
	padding: 0;
	display: inline-block;
	left: 0px;
}
footer li {
	list-style: none;
	margin-left: 1.25em;
	margin-right: .75em;
	display: inline;
	padding: 16px 0px 0px 0px;
}
footer a {
	text-decoration: none;
	border: 0px;
}
footer a img {
	border: 0px;
}
footer a#nav_facebook {
	margin-right: 200px;
}
#back_top {
	width: 125px;
	height: 80px;
	margin: 0 auto;
	background: url(/footer_backtotop.png) no-repeat;
}

/* Media Queries
******************************************************/
@media only screen and (max-width: 1023px) {
	body { font-size: 85%; }
	
	.content {
		width: 100%;
		text-align: center;
		padding-left: 0;
	}
	
	.skills_col,
	.skills_col div { width: 100px; float: left; }
	
	/* Projects */
	.project_preview {
		width: 90%;
		max-width: 455px;
		float: none;
		margin: 3em auto 0 auto;
	}
	.project_preview:nth-child(odd) { margin-right: auto; }	
	.project_thumb img { width: 100%; }
	.project_thumb:hover:after {
		content: '';
		display: none;
	}
	
	.project_page p {
		width: 90%;
		padding: 0 5%;
		float: none;
	}
	
	.project_sample,
	.project_sample.small {
		width: 95%;
		max-width: 640px;
		float: none;
		margin: 0.75em auto 0 auto;
	}	
	.projects_back,
	.projects_prev {
		padding-left: 45px;
	}
	.projects_prev,
	.projects_next {		
		height: 48px;
	}
	.projects_prev { text-align: left; margin-left: 10px; width: 100px; }
	.projects_next { float: right; margin-right: 10px; width: 90px; }
	
	/* About Me */
	
	.interest {
		text-align: left;
	}
	
	/* Contact */
	input[type=text],
	textarea { 
		margin: 4px auto; 
		width: 93%;
	}
	input[type=text] { height: 45px; }
	textarea { height: 90px; }
	.input_wrapper, .textarea_wrapper {
		margin: 0 auto 2em auto;
		width: 90%;
		max-width: 445px;
		position: relative;
	}
	#btn_send {	margin: 0 auto;	}
	
	/* Footer */
	footer {
		width: 95%;
		margin: 7em auto -3em auto;
		height: 135px;
	}
	footer ul {
		width: 100%;
		position: relative;
	}
	footer li {
		margin-left: 0;
		margin-right: 0;
		width: 25%;
		padding: 1.75em 0 0 0;		
		display: inline-block;
		text-align: center;
	}
	footer li:nth-child(1) {
		display: none;
	}
	#footer_social {
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	#footer_social a {
		width: 45px;
		height: 45px;
		float: none;
		display: inline;
	}
	#footer_name {
		display: none;
	}
	footer a#nav_facebook {
		margin-right: 0px;
	}
}

@media only screen 
and (min-width: 961px) and (max-width: 1439px) {
	body {
		font-size: 90%;
	}	
	
	/* Nav */
	nav a {
		padding-left: 15px;
		padding-top: 26px;
		height: 81px;
	}
	#nav_down {
		height: 39px;
		bottom: -39px;
	}	
	#pc_logo {
		height: 80px;
		width: 80px;
	}
	
	li .bar_faded,
	.active .bar {
		height: 86px;
	}
	
	#nav_home .bar {				top: 155px; }
	#nav_home.active .bar,
	#nav_home .bar_faded {			top: 107px; }
	
	#nav_portfolio .bar {			top: 263px; }
	#nav_portfolio.active .bar,
	#nav_portfolio .bar_faded {		top: 215px; }
	
	#nav_relics .bar {				top: 371px; }
	#nav_relics.active .bar,
	#nav_relics .bar_faded {		top: 323px; }
	
	#nav_aboutme .bar {				top: 469px; }
	#nav_aboutme.active .bar,
	#nav_aboutme .bar_faded {		top: 431px; }
	
	#nav_contact .bar {				top: 587px; }
	#nav_contact.active .bar,
	#nav_contact .bar_faded {		top: 539px; }
	
	/* Footer */
	footer {
		width: 960px;
	}
	#footer_name {
		width: 150px;
	}
}